p, li {
  line-height: 19px;
}


.table th, .table td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid#ddd;
}
.table-condensed th, .table-condensed td {
    padding: 4px 5px;
}

a.quiet {
    color: inherit;
}

.c1 {
    background-color: #69D2E7 !important;
}

.c2 {
    background-color: #A7DBD8 !important;
}

.c3 {
    background-color: #E0E4CC !important;
}

.c4 {
    background-color: #F38630 !important;
}

.c5 {
    background-color: #FA6900 !important;
}

.c6 {
    background-color: #EA813D !important;
}

.c7 {
    background-color: #E7A350 !important;
}

.c8 {
    background-color: #FCC777 !important;
}

.c9 {
    background-color: #C3DBB9 !important;
}

.c10 {
    background-color: #A79474 !important;
}
